.containerStyle{
  background-color: #F7F2EE;
}

.formLogin input{
  height: 7vh;
  width: 35vw;
  border-radius: 10px;
}

.formLogin button{
  border-radius: 10px;
  height: 9vh;
  background-color: black;
  color: white;
}

.button-register{
  color: #F23822;
}